* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: sans-serif;
}

.padding {
  padding: 20px;
}

.margin {
  margin: 20px;
}

.verticalPadding {
  padding-top: 20px;
  padding-bottom: 20px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

.codePad {
  width: 400px;
  height: 600px;
}

.resultsContainer {
  width: 100%;
  border: 1px solid black;
  min-height: 200px;
}

.bold {
  font-weight: bold;
}